.git
.git/**
.env
.env.*
!.env.example
node_modules
node_modules/**
*.csv
*.xlsx
*.pdf
*.jar
*.jsp
WEB-INF
WEB-INF/**
dreamsecurity
dreamsecurity/**
dev_keys
prod_keys
*.dat
, 
tthing/assets/main-logo.png
tthing/assets/main-logo-transparent.png
tthing_vape_favicon.png
